/* ===================================================================
 *  Node‑Editor Specific Design Tokens
 * =================================================================*/


:root {
  --dataSocket: rgb(27 76 156);
  --execSocket: rgb(242 153 82);

  --socket-icon-size: 0.75rem;              /* ソケット直径 */
  --connection-width: 2px;            /* ベジェ線幅 */


  --node: var(--card);         /* 基本カード色と統一 */
  --node-fg: var(--card-foreground);

  --node-header: rgb(225, 225, 225);    /* とりあえずサイドバーと同色 */
  --node-header-fg: var(--sidebar-foreground);

  --node-label: rgb(218, 255, 253);
  --node-border: var(--border);

  --node-state-pending: var(--accent);        /* 選択色を流用 */
  --node-state-success: var(--primary);       /* プライマリ色を流用 */
  --node-state-error: var(--destructive);     /* 崩壊色を流用 */

  --node-selected: var(--accent); /* 選択時の色 */
}

.dark {
    --node: var(--card);
    --node-fg: var(--card-foreground);
}

@theme inline {
  --color-node: var(--node);
  --color-node-fg: var(--node-fg);
  --color-node-header: var(--node-header);
  --color-node-header-fg: var(--node-header-fg);
  --color-node-label: var(--node-label);

}


@layer utilities {
  .socket-icon-size { width: var(--socket-icon-size); height: var(--socket-icon-size); }
  .socket-icon-wrapper-size { width: calc(var(--socket-icon-size) * 1.5); height: calc(var(--socket-icon-size) * 1.5); }
}
