@import "tailwindcss";
@import "./styles/font.css";
@import "./styles/node.css";
@import "./styles/titlebar.css";
@import "./styles/zindex.css";

@custom-variant dark (&:is(.dark *));


:root {
  --spacing: 0.25rem;

  --titlebar: rgb(177, 203, 246);
  --background: rgb(255, 254, 251);
  --foreground: rgb(21 21 31);

  --sidebar: rgb(220, 225, 243);
  --sidebar-foreground: oklch(0.145 0 0);

  --primary: rgb(60, 191, 125);
  --primary-foreground: oklch(0.145 0 0);

  --accent: rgb(148, 231, 203);
  --accent-foreground: oklch(0.145 0 0);

  --destructive: rgb(185 18 49);
  --destructive-foreground: oklch(0.985 0 0);

  --card: rgb(253, 254, 255);
  --card-foreground: rgb(16, 16, 25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --border: rgb(127, 138, 175);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);

  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.985 0 0);

  --accent: oklch(0.488 0.243 264.376);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: rgb(185 18 49);
  --destructive-foreground: oklch(0.637 0.237 25.331);
}


@theme inline {
  --color-titlebar: var(--titlebar);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-dataSocket: var(--dataSocket);
  --color-execSocket: var(--execSocket);
}

@layer utilities {
  .close-icon-maru {
    width: calc(var(--spacing) * 3);
    height: calc(var(--spacing) * 3);
    fill: var(--foreground);
    opacity: 0.5;
  }
  .icon-base-size {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
  }
  .icon-size-md {
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }

  html,
  body {
    user-select: none;
    scroll-behavior: smooth;
    -webkit-app-region: no-drag;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  @keyframes modal-slide-right {
    from {
      transform: translateX(-8px);
      opacity: 0.3;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .dialog-animate {
    animation: modal-slide-right 230ms ease-out forwards;
  }
  @keyframes overlay-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .overlay-animate {
    animation: overlay-fade-in 230ms ease-out forwards;
  }
  @keyframes modal-slide-up {
    from {
      transform: translateY(12px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .dialog-animate-up {
    animation: modal-slide-up 310ms ease-out forwards;
  }
}

dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}
